#conteiner__mensagem{
    background: var(--branco);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    height: 93vh;
    justify-content: space-around;
    margin-left: 8em;
    width: 20vw;
    
}





