.mensagem__input{
    /* border: 1px solid var(--azul);
    border-radius: 15px; */
    border: none;
    color: var(--cinza);
    font-size: 24px;
    margin: 0 auto;
    padding: 0.5em 0.3em ;
    outline: none;
    width: 90%;
}